<!-- views/profile.ejs -->
<!doctype html>
<html>

    <head>
        <% include partials/head %>
    </head>

    <style>
        .bg-1 {
            background-color: #1abc9c;
            /* Green */
            color: #ffffff;
        }

    </style>

    <body>

        <% include partials/nav %>
        <% include partials/margin %>
            <div class="container-fluid bg-1 text-center">
                <h3>Edit Profile</h3>
                <form class="form-horizontal" action="/editProfile" method="post" id="newDataInputForm" enctype="multipart/form-data">

                    <% if ( typeof user.picture.binaryData !== 'undefined' ) { %>
                        <img src="data:image/jpeg;base64,<%=user.picture.binaryData.toString( 'base64') %>" class="img-circle" />
                        <%  } else {%>
                            <img src="https://static.nid.naver.com/images/web/user/default.png" class="img-circle" />
                            <% } %>

                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="picture">Picture</label>
                                    <div class="col-sm-2">
                                        <input type="file" class="form-control" name="picture" id="picture" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-5" for="name">Name</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" name="name" id="name" value=<%=user.name %> placeholder=
                                        <%=user.name %> >
                                    </div>
                                </div>

                                <div class="col-sm-offset-4 col-sm-4">
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </div>

                </form>
            </div>
    </body>

</html>
