<!DOCTYPE html>
<html>

    <head>
        <% include partials/head %>

    </head>

    <body>
        <% include partials/nav %>
            <section class="container">
                <div class="row">
                    <figure class="col-sm-6">
                        <% include list %>
                            <a href="/edit">
                            Edit
                        </a>
                    </figure>
                </div>
            </section>

            <% include partials/footer %>
    </body>

</html>
