<!DOCTYPE html>
<html>

    <head>
        <% include ./partials/head %>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    </head>

    <body>
        <% include ./partials/nav %>
            <ul id="results"></ul>
            <form class="form-horizontal" action="/schedule/simpleupload" method="post" id="newDataInputForm" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="city">City</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="city" placeholder="city" id="city">
                    </div>
                    <script>
                        var input = (document.getElementById('city'));
                        var autocomplete = new google.maps.places.Autocomplete(input, {
                            types: ['(cities)']
                        });

                        $("#city").focusin(function() {
                            $(document).keydown(function(e) {
                                var keyCode = event.keyCode ? event.keyCode : event.which;
                                if (keyCode == 9) {
                                    var firstResult = $(".pac-container .pac-item:first").text();
                                    var stringMatched = $(".pac-container .pac-item:first").find(".pac-item-query").text();
                                    firstResult = firstResult.replace(stringMatched, stringMatched + " ");
                                    var geocoder = new google.maps.Geocoder();
                                    geocoder.geocode({
                                        "address": firstResult
                                    }, function(results, status) {
                                        if (status == google.maps.GeocoderStatus.OK) {
                                            var lat = results[0].geometry.location.lat(),
                                                lng = results[0].geometry.location.lng(),
                                                placeName = results[0].address_components[0].long_name,
                                                latlng = new google.maps.LatLng(lat, lng);

                                            $(".pac-container .pac-item:first").addClass("pac-selected");
                                            $(".pac-container").css("display", "none");
                                            $("#city").val(firstResult);
                                            $(".pac-container").css("visibility", "hidden");


                                            if ($("#cityCode").attr('value')) {
                                                $("#cityCode").attr('value', results[0].place_id)
                                            } else {
                                                $('<input />').attr('type', 'hidden')
                                                    .attr('name', "cityCode")
                                                    .attr('value', results[0].place_id)
                                                    .attr('id', "cityCode")
                                                    .appendTo('#newDataInputForm');
                                            }

                                        }
                                    });
                                } else {
                                    $(".pac-container").css("visibility", "visible");
                                }
                            });
                        });

                    </script>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="start">Start</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="start" placeholder="start date" id="start">
                    </div>
                    <script type="text/javascript">
                        $(function() {
                            $('#start').datepicker();
                        });

                    </script>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="end">End</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="end" placeholder="end date" id="end">
                        <div>
                            <script type="text/javascript">
                                $(function() {
                                    $('#end').datepicker();
                                });

                            </script>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="comment">Comment</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="5" name="comment"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="tag">Tag</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="tags" placeholder="tag">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="images">Images</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" name="images" placeholder="images">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>

                    <script>
                        $('#newDataInputForm').submit(function() {

                            var cityCodeValue = $("#cityCode").attr('value');
                            if ('' === cityCodeValue || typeof cityCodeValue === 'undefined') {
                                $("#city").attr('placeholder', "input valid city");
                                return false;
                            }

                            var input = (document.getElementById('tags')).value;

                            var jbSplit = input.split(',');
                            for (var i in jbSplit) {
                                $('<input />').attr('type', 'hidden')
                                    .attr('name', "tags[" + i + "]")
                                    .attr('value', jbSplit[i])
                                    .appendTo('#newDataInputForm');
                            }
                        });

                    </script>

                </div>

            </form>

    </body>

</html>
