-<!-- views/profile.ejs -->
-<!doctype html>
-<html>
-
-    <head>
-        < <% include partials/head %>
-    </head>
-
-
-    <style>
-        .bg-1 {
-            background-color: #1abc9c;
-            /* Green */
-            color: #ffffff;
-        }
-
-    </style>
-
-    <body>
-        <% include partials/nav %>
-        <% include partials/margin %>
-            <div class="container-fluid bg-1 text-center">
-                <h3>Who Am I?</h3>
-                <% if ( typeof user.picture.binaryData !== 'undefined' ) { %>
-                    <img src="data:image/jpeg;base64,<%=user.picture.binaryData.toString('base64') %>" class="img-circle" width="300" height="auto" />
-                    <%  } else {%>
-                        <img src="https://static.nid.naver.com/images/web/user/default.png" class="img-circle" />
-                        <% } %>
-                            <h3><%= user.name %></h3>
-                            <% if(myInfo && myInfo.equals( user._id) ) { %>
-                              <p>
-                                  <a href="/editProfile"> Edit </a>
-                                  <a href="/editProfile"> Note </a>
-                              </p>
-                            <% }else{ %>
-                              <p>
-                                  <a href="/sendMessage"> Send Message </a>
-                              </p>
-                              <% } %>
-
-            </div>
-    </body>
-
-</html>
-</div>
-</body>
-
-</html>
